<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CLR_function.Properties.Settings.Hospital_BDConnectionString"
            connectionString="Data Source=DESKTOP-NLC89LU\SQLEXPRESS;Initial Catalog=Hospital_BD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>